.Home {
  display: grid;
  place-items: center;
  height: 80vh;
}

.row-gap {
  padding-top: 10px;
}

.welcome-card {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 260px;
  background-color: rgb(33, 152, 207);
  text-align: center;
}
